<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tpvision.tuya_library_module">
    <application
        android:allowBackup="true">
        <service
            android:name="com.tuya.smart.android.hardware.service.GwBroadcastMonitorService"
            android:exported="true"
            android:label="UDPService"
            android:process=":monitor">
            <intent-filter>
                <action android:name="tuya.intent.action.udp" />

                <category android:name="tuya" />
            </intent-filter>
        </service>
        <service
            android:name="com.tuya.smart.android.hardware.service.DevTransferService"
            android:label="TCPService">
            <intent-filter>
                <action android:name="tuya.intent.action.tcp" />

                <category android:name="tuya" />
            </intent-filter>
        </service>
        <service
            android:name="com.tuya.smart.mqtt.MqttService"
            android:stopWithTask="true" />
    </application>
</manifest>
